* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}


input {
  color: grey;
  font-size: 1.2rem;
  width: 100%;
}

.category-container {
  margin-top: 40px;
}

.category-container h3 {
  text-transform: uppercase;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 6px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card {
  align-content: center;
  border-radius: 6px;
  margin: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.card:hover{
  transform: scale(1.03);
}